.about-us {
	@include av('padding-top', $s6, $s5, $maxWC, $minWC);
}

.about-us__img {
	object-fit: cover;
	width: 100%;
	@include av('height', 300, 200, $maxWC, $minWC);

	border-radius: 10px;
}

.about-us__title {
	@include av('margin-top', $s4, $s3, $maxWC, $minWC);
}

.about-us__content {
	display: flex;
	justify-content: space-between;

	margin-top: px($s2);
}

.about-us__txt {
	max-width: 400px;
}

.about-us__subtitle {
	max-width: 350px;
}

.blue-title {}

.txt {}

@media (max-width: px($wc3)) {
	.about-us__content {
		display: block;
	}

	.about-us__subtitle {
		display: none;
	}
}