.contact-us {
	@include av('margin-bottom', $s4, $s3, $maxWC, $minWC);
	@include av('padding-top', $s6, $s5, $maxWC, $minWC);

	a {
		color: $txt-cream;

	}
}


.contact-us {}

.contact-us__container {}

.container {}

.contact-us__title {}

.H2 {}

.contact-us__content {
	display: flex;
	justify-content: space-between;

	margin-top: px($s2);
}

.contact-us__subtitle {
	max-width: 350px;
}

.blue-title {}

.contact-us__txt {
	max-width: 400px;
}

.text {}

.google-map {
	width: 100vw;
	@include av('height', 500, 400, $maxWC, $minWC);
	overflow: hidden;
}

.gm-style-mtc,
.gm-svpc {
	display: none !important;
}

@media (max-width: px($wc3)) {
	.contact-us__content {
		display: block;
	}

	.contact-us__subtitle {
		display: none;
	}
}

.note {
	/* txt */
	font-family: Poppins;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	/* 26px */
	color: $txt-blue;

	max-width: px($maxWC);
	margin: 0px auto;
	display: flex;
	justify-content: end;
	padding: px($s2) px($s3) px($s4) px($s3);
}