.gallery {
	@include av('padding-top', 130, 100, $maxWC, $minWC);
}

.gallery__list {
	margin-top: 20px;
}

.gallery-list {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}


.gallery-list__li {
	width: auto;
	max-width: 100%;
	object-fit: cover;

	max-height: 300px;
	min-height: 150px;
	height: 100%;

	border-radius: 10px;
}

.gallery-list__li:last-child {
	grid-column-start: 2;
	grid-column-end: 4;
}

@media (max-width: px($wc3)) {
	.gallery-list {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	.gallery-list__li:last-child {
		grid-column-start: 1;
		grid-column-end: 3;
	}
}