.hero {
	@include av('padding-top', 140, 100, $maxWC, $minWC);
}

.hero__container {}

.hero__imgs {}

.imgs {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.imgs__img {
	object-fit: cover;
	width: 100%;
	max-height: 300px;

	border-radius: 10px;
}

.hero__txt-contetnt {
	margin-top: px($s3);
	margin-left: -4px;

	@media (max-width: px($wc2)) {
		margin-left: 0;
	}
}

.hero__subtitle {
	margin-left: 4px;
}

.hero__title {
	span {
		color: $txt-cream;
	}
}


.hero__btn {
	display: flex;
	align-items: center;
	@include av('margin-top', $s3, $s2, $maxWC, $minWC);
}

.icon {
	@include av('width', 70, 40, $maxWC, $minWC);
	@include av('height', 70, 40, $maxWC, $minWC);
	@include av('margin-right', $s4, $s2, $maxWC, $minWC);
}

.header__btn {}

.btn {}

@media (max-width: px($wc3)) {
	.imgs {
		grid-template-columns: 1fr 1fr;
	}

	.imgs img:last-child {
		display: none;
	}

	.imgs__img {
		max-height: 240px;
	}
}

@media (max-width: px($wc2)) {
	.imgs {
		grid-template-columns: 1fr;
	}

	.imgs img:nth-child(2) {
		display: none;
	}
}