.reviews {
	@include av('margin-top', $s6, $s5, $maxWC, $minWC);
	position: relative;
	width: 100vw;

}

.reviews__container {
	position: relative;
	z-index: 1;
}

.reviews__body {
	margin-top: 20px;
}

.reviews__first-row {
	margin-left: -50vw;
	display: flex;
	align-items: end;
	gap: 10px;

	max-width: 100%;
	/* Делаем текст в строке, чтобы он мог бежать горизонтально */
	animation: marquee 40s linear infinite;
	/* Название анимации, длительность, способ интерполяции и бесконечное повторение */
	animation-timing-function: linear;
}

@keyframes marquee {
	0% {
		transform: translateX(0%);
	}

	50% {
		transform: translateX(-100%);
	}

	/* Начальное положение текста */
	100% {
		transform: translateX(0%);
	}

	/* Конечное положение текста (влево на 100% от ширины контейнера) */
}

@keyframes marqueeMobile {
	0% {
		transform: translateX(-300%);
	}

	/* Начальное положение текста */
	100% {
		transform: translateX(200%);
	}

	/* Конечное положение текста (влево на 100% от ширины контейнера) */
}

.reviews__review {}

.review {
	border-radius: 10px;
	min-width: 450px;
	@include av('padding', 20, 16, $maxWC, $minWC);
	background-color: $main-blue;
}

.review__txt {
	margin-top: 10px;
}

.review__author {
	margin-top: 40px;
}

.reviews__second-row {
	margin-left: -110vw;
	margin-top: 10px;
	display: flex;
	align-items: start;
	gap: 10px;

	max-width: 100%;
	/* Делаем текст в строке, чтобы он мог бежать горизонтально */
	animation: marquee-1 40s linear infinite;
	/* Название анимации, длительность, способ интерполяции и бесконечное повторение */
	animation-timing-function: linear;
}

@keyframes marquee-1 {
	0% {
		transform: translateX(0%);
	}

	50% {
		transform: translateX(100%);
	}

	/* Начальное положение текста */
	100% {
		transform: translateX(0%);
	}

	/* Конечное положение текста (влево на 100% от ширины контейнера) */
}

@media (max-width: px($wc4)) {
	.review {
		min-width: 300px;
	}


	.reviews__first-row {
		margin-left: -400%;
		align-items: start;
		animation: marqueeMobile 10s linear infinite;
	}

	.reviews__second-row {
		display: none;
	}
}