// ------------------------------ 

// Системные файлы
@use 'sass:math';

// -- Системные стили
@import './normalize';
@import './av';
@import './px';

// ------------------------------

// Цветовые стили
// Txt
$txt-white: #FFFFFF;
$txt-black: #000000;

$txt-darkblue: #172436;
$txt-blue: #2E476B;
$txt-lightblue: #748DB1;

$txt-cream: #F6C094;
$txt-lightcream: #FFDEB2;

// Main
$main-white: #FFFFFF;
$main-blue: #172436;
$main-cream: #F6C094;
$main-lightcream: #FFDEB2;
$main-bg: #0F1824;


// ------------------------------

// Разрешения экранов
// WidthContainer
$maxWC: 1070;

$wc4: 991.98;
$wc3: 767.98;
$wc2: 474.98;
$wc1: 359.98;

$minWC: 360;

// ------------------------------

// Система отступов
// -- Переменные 
// s - space
$s1: 8;
$s2: 10;
$s3: 20;
$s4: 30;
$s5: 70;
$s6: 120;

// -- Классы
.margin-top {
	// @include av('margin-top', $s7, $s6, $maxWc, $minWc);
}

.small-margin-top {
	// @include av('margin-top', $s6, $s5, $maxWc, $minWc);
}

// ------------------------------

// -- Файлы стилей
@import './fonts';

@import './header';
@import './menu-burger';

@import './hero';
@import './about-us';
@import './poster';
@import './gallery';
@import './services';
@import './reviews';

@import './contact-us';

// ------------------------------

// Системные классы
.container {
	max-width: px($maxWC);
	margin: 0px auto;
	padding: px(0) px($s3);
}

// ------------------------------

// Общие стили
body {
	background-color: $main-bg;
	color: $txt-white;
}

.app {
	width: 100vw;
	overflow: hidden;

	&.active {
		height: 100vh;
		overflow: hidden;
	}
}